.user-info {
    grid-column: center-start / col-end 4;
    display: flex;
    flex-direction: column;
    border-radius: 2rem;
    font-weight: 600;

    svg {
        width: 16px;
        margin-right: 1rem;
        margin-bottom: 1px;
    }

    & > *:not(:first-child) {
        padding-top: 1.2rem;
    }

    & > *:not(:last-child) {
        padding-bottom: 1.2rem;
        border-bottom: var(--line);
    }

    &__top {
        svg {
            color: var(--color-grey-dark-3);
            margin-right: 0.6rem;
            margin-bottom: 3px;
        }

        &__img {
            align-self: center;
            border-radius: 50%;
            box-shadow: var(--shadow-medium);
            width: 100%;
            margin-bottom: 1rem;
        }

        &__name {
            margin-bottom: -1.1rem;
        }

        &__login {
            font-size: 2.2rem;
            font-weight: 300;
        }
    }

    &__items {
        // padding-top: 1.5rem;

        li {
            font-size: 1.6rem;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 0.4rem;
            }
        }
    }
}
