.user-info {
    grid-column: center-start / 6;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    font-weight: 600;

    &__top {
        border-bottom: var(--line);
        padding-bottom: 1.5rem;

        &__img {
            align-self: center;
            border-radius: 50%;
            box-shadow: var(--shadow-medium);
            width: 100%;
            margin-bottom: 1rem;
        }

        &__name {
            margin-bottom: -1.2rem;
        }

        &__login {
            font-size: 2.2rem;
            font-weight: 300;
            margin-bottom: -0.5rem;
        }
    }

    &__items {
        padding: 1.5rem 0;

        &__item {
            font-size: 1.6rem;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 0.5rem;
            }
        }
    }

    &__top__octicon,
    &__items__octicon {
        width: 16px;
        margin-right: 1rem;
        margin-bottom: 1px;
    }
}
