.user-info {
    grid-column: center-start / col-end 5;

    &__container {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: var(--border-radius);
        font-weight: 600;
        padding: 2rem;
        background-color: var(--color-dark-light);
        height: max-content;

        a {
            color: var(--color-primary);
        }

        svg {
            width: 16px;
            margin-right: 1rem;
        }

        & > *:not(:first-child) {
            padding-top: 1.2rem;
        }

        & > *:not(:last-child) {
            padding-bottom: 1.5rem;
            border-bottom: var(--line-light);
        }
    }

    &__top {
        display: flex;
        flex-direction: column;

        svg {
            margin-right: 0.6rem;
            margin-bottom: 4px;
        }

        &__img {
            display: flex;
            justify-content: center;

            img {
                border-radius: 50%;
                width: 90%;
                margin-bottom: 1rem;
                border: 1rem solid var(--color-primary);
            }
        }

        &__name {
            margin-bottom: -1.1rem;
            text-align: center;
            align-self: center;
        }

        &__login {
            font-size: 2.2rem;
            font-weight: 300;
            text-align: center;
            align-self: center;
        }

        &__bio {
            margin-top: 0.2rem;
            align-self: center;
            text-align: center;
        }
    }

    &__items,
    &__stats {
        li {
            font-size: 1.6rem;
            display: flex;
            align-items: center;

            &:not(:last-child) {
                margin-bottom: 0.4rem;
            }
        }
    }
}
