.charts {
    grid-column: col-start 5 / center-end;
    display: flex;
    flex-wrap: wrap;
    // grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    // grid-gap: 2rem;
    &__chart {
        padding: 2rem;
        // flex: 0 1 1fr;

        canvas {
            width: 40rem;
        }

        &__container {
        }

        &__heading {
            display: inline-block;
            margin-bottom: 2rem;
            border-bottom: var(--dashed-line);
            font-size: 2.2rem;
        }
    }
}
