:root {
    --default-font-size: 1.6rem;
}

body {
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    font-size: var(--default-font-size);
    line-height: 1.7;
    color: var(--color-grey-dark-1);
}
