.user {
    --grid-width: calc(130rem - var(--number-of-columns) * var(--grid-gap));
    --number-of-columns: 16;
    --grid-gap: 2rem;

    display: grid;
    grid-template-columns:
        [full-start] minmax(6rem, 1fr) [center-start] repeat(
            var(--number-of-columns),
            [col-start] minmax(min-content, calc(var(--grid-width) / var(--number-of-columns)))
                [col-end]
        )
        [center-end] minmax(6rem, 1fr) [full-end];
    grid-gap: var(--grid-gap);

    &__section-1 {
        padding: 2rem 0 2rem;
        background-color: var(--color-dark);
    }

    &__section-2 {
        padding: 4rem 0;
        // background-color: var(--color-dark);
    }
}
