@import '../../styles/media-queries';

.header {
    --width: 5rem;
    --width-tablet: 4.5rem;
    --width-mobile: 4rem;
    --expanded-width: 30rem;

    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: left;
    z-index: 3;

    @include mediaQuery(bp-800) {
        flex-direction: column;
    }

    &__btn {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1.5rem;
        margin-top: 1rem;
        height: var(--width);
        width: var(--width);
        color: var(--color-white);
        background-color: var(--color-primary);
        border-radius: 50px;
        box-shadow: 0 0.5rem 2rem -1.2rem var(--color-primary);
        border: 2px solid var(--color-primary);
        font-size: 2rem;

        @include mediaQuery(bp-800) {
            height: var(--width-mobile);
            width: var(--width-mobile);
            font-size: 1.8rem;
        }

        &:hover,
        &:focus {
            cursor: pointer;
            background-color: var(--color-primary-dark);
            border: 2px solid var(--color-primary-dark);
            box-shadow: 0 0.5rem 2rem -1.2rem var(--color-primary-dark);
        }
    }

    &__home {
        margin-left: 1.5rem;
    }

    &__random {
        @include mediaQuery(bp-800) {
            margin-left: 1.5rem;
            margin-top: 1.5rem;
        }
    }

    &__form {
        &__search-expand {
            position: relative;
            overflow: hidden;

            @include mediaQuery(bp-800) {
                margin-left: 1.5rem;
                margin-top: 1.5rem;
            }

            svg {
                position: absolute;
                left: 1.3rem;

                @include mediaQuery(bp-800) {
                    left: 0.9rem;
                }
            }

            &--active {
                transition: var(--transition);
                width: var(--expanded-width);
                justify-content: space-between;
                background-color: var(--color-primary-dark);
                border: 2px solid var(--color-primary-dark);

                &:hover,
                &:focus {
                    cursor: default;
                }
            }

            &__input {
                opacity: 0;
                background-color: rgba(0, 0, 0, 0);
                font-family: var(--mono-font-family);
                font-size: 2rem;
                font-weight: 600;
                outline: 0;
                border: 0;
                color: var(--color-white);
                transition: var(--transition);
                margin-top: 2px;
                width: 0;

                &::placeholder {
                    font-family: var(--mono-font-family);
                    font-size: 1.8rem;
                    font-weight: 500;
                    opacity: 0.7;
                }

                &:hover,
                &:focus,
                &:active {
                    background-color: var(--color-primary-dark);
                    border: 2px solid var(--color-primary-dark);
                }

                &--active {
                    opacity: 1;
                    width: 22rem;
                    height: 3rem;
                    margin-left: 5.2rem;
                }
            }
        }
    }
}
