.stats {
    grid-column: col-start 5 / center-end;

    &__user-stats {
        display: flex;
        align-items: center;
        justify-content: center;

        li {
            margin-right: 1rem;
            padding: 2rem;
        }
    }
}
