.repos {
    grid-column: col-start 5 / center-end;

    &__title {
        padding: 1rem;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
        grid-gap: 1rem;
    }
}
